[build]
  base = "frontend"
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "22"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["mongoose", "mongodb"]
  
# Increase timeout (default is 10s)
[[functions]]
  directory = ".netlify/functions-internal/"
  node_bundler = "esbuild"